<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"   
   xmlns:h = "http://java.sun.com/jsf/html"
   xmlns:ui = "http://java.sun.com/jsf/facelets"> 
   <h:head>
    	<h:outputStylesheet library="css" name="table-style.css"  />
   </h:head>
   <h:body> 
      <div style="margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 80%; height: 100px">
         <ui:insert name = "header" >
            <ui:include src = "/template/header.xhtml" />            
         </ui:insert> 
      </div>
      <br/>    
      <div style="margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 80%;">
         <ui:insert name = "content" >      	
            <ui:include src = "/template/contents.xhtml" />          
         </ui:insert>    
      </div>
      <br/>      
      <div style="margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 80%;">
         <ui:insert name = "footer" >
            <ui:include src = "/template/footer.xhtml" />
         </ui:insert>
      </div>  
   </h:body>
</html>