<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<h:body>
	<ui:composition template="/template/common.xhtml">
		<ui:define name="content">															
				<h:form>
					<h:commandLink action="#{autosController.create()}" value="New" />
					<br></br><br></br>
					<h:dataTable value="#{autosController.autoList}" var="a"
						style="width:100%" styleClass="order-table"
						headerClass="order-table-header"
						rowClasses="order-table-odd-row,order-table-even-row">
						<h:column>
							<f:facet name="header">ID</f:facet> 					         
                		#{a.id}
            			</h:column>
            			
            			<h:column>
							<f:facet name="header">Auto Model</f:facet> 					         
                		#{a.autoModel}
            			</h:column>
            			
            			<h:column>
							<f:facet name="header">Model Year</f:facet> 					         
                		#{a.modelYear}
            			</h:column>
            			
            			<h:column>
							<f:facet name="header">Asking Price</f:facet> 					         
                		#{a.askingPrice}
            			</h:column>
						
						<h:column>
							<f:facet name="header">Options</f:facet>
							<h:commandLink action="#{autosController.autoDetails()}" value="Details">
								<f:param name="autoID" value="#{a.id}" />
							</h:commandLink>&nbsp;&nbsp;
							<h:commandLink action="#{autosController.delete()}" value="Delete">
								<f:param name="autoID" value="#{a.id}" />
							</h:commandLink>
						</h:column>
					</h:dataTable>
				</h:form>			
		</ui:define>
	</ui:composition>
</h:body>
</html>
