<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">    
    <h:body> 
    <ui:composition template="/template/common.xhtml">
		<ui:define name="content">		
        <b>Auto details</b>
        <br></br>
        <br></br>
        <h:panelGrid columns="2">
            <h:outputText value = "Auto ID :" />
            #{autoController.autoDTO.id}           
            <h:outputText value = "Auto model :" />
            #{autoController.autoDTO.autoModel}           
            <h:outputText value = "Model Year:" />
            #{autoController.autoDTO.modelYear}
            <h:outputText value = "Model Year:" />
            #{autoController.autoDTO.askingPrice}                    
        </h:panelGrid>  
        <br></br>
        <h:link value = "Back" outcome = "autos" />
        </ui:define>
	</ui:composition>
    </h:body>
</html>