<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <h:body>
    
    <ui:composition template="/template/common.xhtml">
		<ui:define name="content">	
		
        <b>Customer details</b>
        <br></br>
        <br></br>
        <h:panelGrid columns="2">
            <h:outputText value = "Customer ID :" />
            #{customerController.customerDTO.id}
            
            <h:outputText value = "Customer name :" />
            #{customerController.customerDTO.name}
            
        </h:panelGrid>
        
        <br></br>
        <b>Payments</b>
        <br></br>
        <br></br>
        
        <h:dataTable value="#{customerController.customerDTO.paymentsDTO}" var="p"
        			 style="width:100%" styleClass="order-table"
					 headerClass="order-table-header"
					 rowClasses="order-table-odd-row,order-table-even-row">
						<h:column>
							<f:facet name="header">ID</f:facet> 					         
                		#{p.id}
            			</h:column>
            			<h:column>
							<f:facet name="header">Amount</f:facet> 					         
                		#{p.amount}
            			</h:column>
        </h:dataTable>
        <br></br>
        <h:link value = "Back" outcome = "customers" />
        </ui:define>
	</ui:composition>
    </h:body>
</html>

