<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	<ui:composition template="/template/common.xhtml">
		<ui:define name="content">
		<h:form>
			<h:panelGrid columns="3">
				<h:outputText value="Customer name: " style="color: #4285f4; font-weight: bold;" />
				<h:inputText id="name" value="#{customerController.name}" size="10" required="true"></h:inputText>
				<h:message for="name"></h:message>


				<h:outputText value="Empoyment status: " style="color: #4285f4; font-weight: bold;" />
				<h:inputSecret id="employmentStatus" value="#{customerController.employmentStatus}" size="10" required="true"></h:inputSecret>
				<h:message for="employmentStatus"></h:message>

				<h:outputText value="" />
				<h:commandButton action="#{customerController.save()}" value="Save"></h:commandButton>
			</h:panelGrid>
		</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
