<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">    
    <h:body>    
    <ui:composition template="/template/common.xhtml">
		<ui:define name="content">			
        <b>Payment details</b>
        <br></br>
        <br></br>
        <h:panelGrid columns="2">
            <h:outputText value = "Payment ID :" />
            #{paymentController.paymentDTO.id}                                 
        </h:panelGrid> 
        <h:panelGrid columns="2">
            <h:outputText value = "Payment amount :" />
            #{paymentController.paymentDTO.amount}                                 
        </h:panelGrid>  
        
        <br></br>
        
        <h:dataTable value="#{paymentController.paymentDTO.customer}" var="c"
        			 style="width:100%" styleClass="order-table"
					 headerClass="order-table-header"
					 rowClasses="order-table-odd-row,order-table-even-row">
						<h:column>
							<f:facet name="header">ID</f:facet> 					         
                		#{c.id}
            			</h:column>
            			
            			<h:column>
							<f:facet name="header">Name</f:facet> 					         
                		#{c.name}
            			</h:column>
            			
            			<h:column>
							<f:facet name="header">Address</f:facet> 					         
                		#{c.address}
            			</h:column>
            			
            			<h:column>
							<f:facet name="header">City</f:facet> 					         
                		#{c.city}
            			</h:column>
            			
            			<h:column>
							<f:facet name="header">Employment Status</f:facet> 					         
                		#{c.employmentStatus}
            			</h:column>
            			
            			<h:column>
							<f:facet name="header">Employment Status</f:facet> 					         
                		#{c.companyName}
            			</h:column>
            			
        </h:dataTable>
        <br></br>
        
                     
        <h:link value = "Back" outcome = "payments" />
        </ui:define>
	</ui:composition>
    </h:body>
</html>